<h1>Listing structures</h1>

<table>
  <tr>
    <th>Xmlcontent</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @structures.each do |structure| %>
  <tr>
    <td><%= structure.xmlcontent %></td>
    <td><%= structure.project_id %></td>
    <td><%= link_to 'Show', structure %></td>
    <td><%= link_to 'Edit', edit_structure_path(structure) %></td>
    <td><%= link_to 'Destroy', structure, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Structure', new_structure_path %>
