<p id="notice"><%= notice %></p>

<p>
  <b>Xmlcontent:</b>
  <%= @structure.xmlcontent %>
</p>

<p>
  <b>Project:</b>
  <%= @structure.project_id %>
</p>


<%= link_to 'Edit', edit_structure_path(@structure) %> |
<%= link_to 'Back', structures_path %>
