
<div class="demo">
<div id="feedback_div"></div>
<div id="accordion">
	<% if !strucs["structures"]["collection"].kind_of?(Array)%>
	<%s=strucs["structures"]["collection"]%>
	<h3><a href="#"><%=s["name"]%></a></h3>
	<div>
	<div id="structures">
		<%= form_tag('/generate_structure', :method=>'post', :multipart => true,:'data-remote'=>true,:id=>"form0") do%>
		<%= field_set_tag nil, :class => 'field' do %>
		<%params[:id]=0%>
		<%= hidden_field_tag :id, params[:id]%>
		<p>
			<p><b>Name:</b><span class="hint"> Enter the name of the collection</span></p>
			
	  			<p><%= text_field_tag 'name', s["name"],:onfocus=>"setStyle('form0')"%>
	  				<span id="name_feedback0"></span> </p>
			<br />
		<p>
		<p>
			<p><b>Type:</b><span class="hint"> Select a category describing the nature of the collection </span></p>
			
			<%= select_tag("type", options_for_select([
	      ['Geographical', 'Subject'],
	      ['Subject', 'Subject'],
	      ['Language','Language'],
	      ['General','General']
	      ],s["categorization"]["type"]),:class=>"type") %>
		
		<p>	
		<br/>
		<p>
			
			<p><b>Sequences:</b><span class="hint"> Select the types of sequences the collection may contain </span></p>
			<%if !encodings.nil?%>
				<%@seq=[]%>
				 <%encodings.each_with_index do |en,i|%>
				<%if checked[i].to_bool%>
				   <%en.values.flatten.each do |e|%>
				    	<%@seq<<en.keys.first.to_s.slice(0,1).capitalize+en.keys.first.slice(1..-1)+":"+e%>
				   <%end%>
			<%end%>
		<%end%>
		<%= select_tag("sequences", options_for_select(@seq.collect{ |u| [u, u] },:selected=>s["sequences"]["sequence"]),:multiple=>true,:class=>"sequences")%>
	  			<span id="sequence_feedback0"></span>
			<%else%>
			<p>Enter some sequences first</p>
			<%end%>
			
		</p>
		<p>
					  <%= submit_tag 'Save',:class=>"custom_button round righty submittable",:onclick=>"validateForm(this)" %>
				</p>
		</div>
			
			<%end%>
		<%end%>
	</div>
	
	<%else%>
	<%strucs["structures"]["collection"].each_with_index do |s,i|%>
	<h3><a href="#"><%=s["name"]%></a></h3>
	<div>
	<div id="structures">
		<%= form_tag('/generate_structure', :method=>'post', :multipart => true,:'data-remote'=>true,:id=>"form"+i.to_s) do%>
		<%= field_set_tag nil, :class => 'field' do %>
		<%params[:id]=i%>
		<%= hidden_field_tag :id, params[:id]%>
		<p>
			<p><b>Name:</b><span class="hint"> Enter the name of the collection</span></p>
			
	  			<p><%= text_field_tag 'name', s["name"],:onfocus=>"setStyle(getParentByTagName(this,'form').getAttribute('id'))"%>
	  				<span id=<%="name_feedback"+i.to_s%>></span></p>
			
			<br />
		<p>
		<p>
			<p><b>Type:</b><span class="hint"> Select a category describing the nature of the collection </span></p>
			<%= select_tag("type", options_for_select([
	      ['Geographical', 'Subject'],
	      ['Subject', 'Subject'],
	      ['Language','Language'],
	      ['General','General']
	      ],s["categorization"]["type"]),:class=>"type") %>
		
		<p>	
		<br/>
		<p>
			
			<p><b>Sequences:</b><span class="hint"> Select the types of sequences the collection may contain </span></p>
			<%if !encodings.nil?%>
				<%@seq=[]%>
				 <%encodings.each_with_index do |en,i|%>
				<%if checked[i].to_bool%>
				   <%en.values.flatten.each do |e|%>
				    	<%@seq<<en.keys.first.to_s.slice(0,1).capitalize+en.keys.first.slice(1..-1)+":"+e%>
				   <%end%>
			<%end%>
		<%end%>
		<%= select_tag("sequences", options_for_select(@seq.collect{ |u| [u, u] },:selected=>s["sequences"]["sequence"]),:multiple=>true,:class=>"sequences")%>
	  			<span id=<%="sequence_feedback"+i.to_s%>></span>
			<%else%>
			<p>Enter some sequences first</p>
			<%end%>
			
		</p>
		<p>
					  <%= submit_tag 'Save',:class=>"custom_button round righty submittable",:onclick=>"validateForm(this)" %>
		</p> 
		</div>
			
		</p>
			<%end%>
			<%end%>
	 </div>
	 <%end%>
	<%end%>
</div>
<h3>Create new collection</h3>
	<div id="structures">
	
	<%= form_tag('/generate_structure', :method=>'post', :multipart => true) do%>
	<%= field_set_tag nil, :class => 'field' do %>
	<!--determining the id of the node--> 
	<%if strucs["structures"]["collection"].kind_of?(Array)%>
	 <% params[:id]=strucs["structures"]["collection"].length+1%>
	 <%else%>
	 <%params[:id]=2%> 
	 <%end %> 
		<%= hidden_field_tag :id, params[:id]%>
	<p>
		<p><b>Name:</b><span class="hint"> Enter the name of the collection</span></p>
		
  			<p><%= text_field_tag 'name' %></p>
		
		<br />
	<p>
	<p>
		<p><b>Type:</b><span class="hint"> Select a category describing the nature of the collection </span></p>
		<%= select_tag("type", options_for_select([
      ['Geographical', 'Subject'],
      ['Subject', 'Subject'],
      ['Language','Language'],
      ['General','General']
      ],'General'),:class=>"type") %>
	
	<p>	
	<br/>
	<p>
		
		<p><b>Sequences:</b><span class="hint"> Select the types of sequences the collection may contain </span></p>
		<%if !encodings.nil?%>
		<%= render 'sequences'%>
		<%else%>
		<p>Enter some sequences first</p>
		<%end%>
		
	</p>
	</div>
	</div>
	<p>
		  <%= submit_tag 'Submit',:class=>"custom_button round righty" %>
	</p>
<%end%>
<%end%>


