<%content_for :side do%>
<%= render 'streams_sidemenu'%>
<%end%>

<%content_for :main do%>
<div class="outer_div">
	<div class="bigger_inner_div">
		<div class="demo">
			<div id="tabs">
				<ul>
					<li>
						<a href="#tabs-1">Streams </a>
					</li>
					<li>
						<a href="#tabs-2">Structures</a>
					</li>
					<li>
						<a href="#tabs-3">Spaces</a>
					</li>
					<li>
						<a href="#tabs-4">Scenarios</a>
					</li>
					<li>
						<a href="#tabs-5">Societies</a>
					</li>
				</ul>
				<div id="tabs-1">
				    <%=render 'streams'%>
				</div>
				<div id="tabs-2">
					<%=render 'structures'%>
				</div>
				<div id="tabs-3">
					<%=render 'spaces/spaces'%>
				</div>
				<div id="tabs-4">
				</div>
				<div id="tabs-5">
				</div>
			</div>

		
	</div>
	<%=debug "Bler"%>
</div>
<%end%>

