<p id="notice"><%= notice %></p>

<p>
  <b>Stream xml:</b>
  <%= @metum.stream_xml %>
</p>

<p>
  <b>Structure xml:</b>
  <%= @metum.structure_xml %>
</p>

<p>
  <b>Space xml:</b>
  <%= @metum.space_xml %>
</p>

<p>
  <b>Scenario xml:</b>
  <%= @metum.scenario_xml %>
</p>

<p>
  <b>Society xml:</b>
  <%= @metum.society_xml %>
</p>


<%= link_to 'Edit', edit_metum_path(@metum) %> |
<%= link_to 'Back', meta_path %>
