<div class="outer_div">
	<div class="bigger_inner_div clearfix">
<!--<%= form_for [@resourceable, Resource.new] do |f| %>
  <ol class="formList">
	<%=f.file_field :file%>
	<%= f.submit "Rake tasks", :controller => :tasks, 
                           :action => 'rake_tasks',:class=>"custom_better_button"%>
  </ol>
<% end %>-->
<p> Select XML file to import tasks</p>
<%= form_tag('/rake_tasks', :method=>'post', :multipart => true,:class=>"clearfix") do%>

	<%=file_field_tag :file%>
	<%= submit_tag "Submit",:class=>"custom_better_button"%>
<%end%>
	<%= form_for @task, :validate=>true do |f| %>
	<% if @task.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
		<ul>
			<% @task.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<div class="field">
		<%= f.label :name %><span class="hint"> Eg:"Prepare metadata for museum collection"</span>
		<%= field_set_tag nil, :class => 'field' do %>
			<%= f.text_field :name %> 
		<%end%>
	</div>
	<div class="field">
		<%= f.label :content %><span class="hint"> Enter a brief description of the task</span>
		<%= field_set_tag nil, :class => 'field' do %>
			<%= f.text_area :content %> 
		<%end%>
	</div>
	<div class="field" id="task">
		<%= f.label "Start date" %><span class="hint"> Select tentative start date for task</span>
		<%= field_set_tag nil, :class => 'field' do %>
		<%= f.text_field :start_at %>
		<%end%>
	</div>
	<div class="field" id="task">
		<%= f.label "End date" %><span class="hint"> Select tentative end date for task</span>
		<%= field_set_tag nil, :class => 'field' do %>
		<%= f.text_field :end_at %>
		<%end%>
	</div>
	<div class="field" id="task">
		<%= f.label :priority %><span class="hint"> Select priority of the task</span>
		<%= field_set_tag nil, :class => 'field' do %>
		<%=select :task, :priority, 
	            [['Lowest', 0], ['Low', 1], 
	            ['Medium', 2], ['High', 3], 
	            ['Urgent!', 4]],{:prompt=>"Select the task priority"},{:class=>"type2"}%>
	     <%end%>
	</div>
	<div class="field" id="task">
		<%= f.label :status %><span class="hint"> Select current status of the task</span>
		<%= field_set_tag nil, :class => 'field' do %>
		<%=select :task, :status, 
	            [['Not Started', 0], ['In progress', 1], 
	            ['Nearing Completion', 2], ['Completed', 3]],{:prompt=>"Select the current status of the task"},{} %>
	     <%end%>
	</div>
	<div class="field" id="task">
	<%@delegations=@task.delegations.collect(&:user_id)%>
	<%= f.label :"Task Assignment" %><span class="hint"> Select people tassign the task to</span>
	<%= field_set_tag nil, :class => 'field' do %>
	<%= collection_select(:user,:id, current_project.users.uniq, :id, :name, {:selected=>User.find(:all,:conditions=>["id IN (?)",@delegations]).collect(&:id)},{:multiple=>true} ) if !current_project.nil? && !current_project.users.nil?%>
	<%end%>
	</div>
	<div class="actions">
		<%= f.submit "Save", :class=>"custom_better_button righty" %>
		<%= link_to "Back",tasks_path, :class=>"custom_better_button" %>
	</div>
	<%end %>
 </div>
</div>