<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="display" id="example">
	<thead>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Priority</th>
    <th>Start Date</th>
    <th>End date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= task.status %></td>
    <td><%= task.priority %></td>
    <td><%= task.start_at %></td>
    <td><%= task.end_at %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</tbody>
</table>
