<div class="grid_4 layout">
	<%= render 'tasks_sidemenu'%>
</div>
<div class ="grid_12 layout" id="right_display">
<h2 class="headings">Listing tasks</h2>
<%= form_tag tasks_path, :method => 'get', :id => "tasks_search" do %>
	<%= hidden_field_tag :direction, params[:direction]%>
	<%= hidden_field_tag :sort, params[:sort]%> 
<% end %>

<%= render 'tasks'%>

<%= link_to 'New Task', new_task_path %>
</div>
      