<%content_for :side do%>
	<%= render 'tasks_sidemenu'%>
<%end%>

<%content_for :main do%>
<h4 style="text-align: center;margin-top:10px">Create a new task</h4>
<div class="outer_div">
	<div class="bigger_inner_div">
	<%= form_for @task, :validate=>true do |f| %>
	<% if @task.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
		<ul>
			<% @task.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<div class="field">
		<%= f.label :name %><span class="hint"> Eg:"Prepare metadata for museum collection"</span>
	<%= field_set_tag nil, :class => 'field' do %>
		<%= f.text_field :name %> 
	<%end%>
	</div>
	<div class="field" id="task">
		<%= f.label "Start date" %><span class="hint"> Select tentative start date for task</span>
		<%= field_set_tag nil, :class => 'field' do %>
		<%= f.text_field :start_at %>
		<%end%>
	</div>
	<div class="field" id="task">
		<%= f.label "End date" %><span class="hint"> Select tentative end date for task</span>
		<%= field_set_tag nil, :class => 'field' do %>
		<%= f.text_field :end_at %>
		<%end%>
	</div>
	<div class="field" id="task">
		<%= f.label :priority %><span class="hint"> Select priority of the task</span>
		<%= field_set_tag nil, :class => 'field' do %>
		<%=select :task, :priority, 
	            [['Lowest', 0], ['Low', 1], 
	            ['Medium', 2], ['High', 3], 
	            ['Urgent!', 4]],{:prompt=>"Select the task priority"},{:class=>"type2"}%>
	     <%end%>
	</div>
	<div class="field" id="task">
		<%= f.label :status %><span class="hint"> Select current status of the task</span>
		<%= field_set_tag nil, :class => 'field' do %>
		<%=select :task, :status, 
	            [['Not Started', 0], ['In progress', 1], 
	            ['Nearing Completion', 2], ['Completed', 3]],{:prompt=>"Select the current status of the task"},{} %>
	     <%end%>
	</div>
	
	<div class="field">
		<%= f.label "Assignments" %><span class="hint"> Optionally assign tasks to users</span>
		<%= field_set_tag nil, :class => 'field' do %>
			<%=f.fields_for :assignments do |a|%>
			<%= render 'assignment_fields', :f=>a%>
			<%end%>
			<%= link_to_add_fields "Add user",f,:assignments%>
		<%end%>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
	<%end %>
	<%= link_to 'Back', tasks_path %>
</div>
</div>
<%end%> 