<div class="grid_4 layout">
	<%= render 'tasks_sidemenu'%>
</div>
<div class ="grid_12 layout" id="right_display">
<p id="notice"><%= notice %></p>

<p>
  <b>Owner:</b>
  <%= @task.owner_id %>
</p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Status:</b>
  <%= @task.status %>
</p>

<p>
  <b>Priority:</b>
  <%= @task.priority %>
</p>

<p>
  <b>Start Date:</b>
  <%= @task.start_at %>
</p>

<p>
  <b>End Date:</b>
  <%= @task.end_at %>
</p>
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
</div>
