<p class="fields">
	<%= f.label :role%>
	<%= f.text_field :role,:value=>"Unassigned"%>
	<%= f.label :responsibility%>
	<%= f.text_area :responsibility%> <!--Have to change this to include it in the controleer create action itself.-->
	<br/>
	<%= link_to_remove_fields "Remove delegation", f %>
</p>