<br/>
<div>People grouped by role <%=image_tag("group.png", :alt=>"People")%></div>
<%if !current_project.nil?%>
<%@uniq_roles = Delegation.find(:all,:group=>:role,:conditions=>["delegations.role IS NOT NULL AND project_id=?",current_project.id])%>
<%end%>
<%if !current_project.nil?%>
	<%if !@uniq_roles.nil?%>
	<div id="menu">       
	 <ul class="navmenu">	
	 <%@uniq_roles.each do |r|%>
	   <li><div class="menutop"><a href="#"><%=r.role%></a><div class="toggle">+</div></div>
	     <ul class="submenu">
	     	<%@del = Delegation.find(:all,:conditions=>["role=? AND project_id=?",r.role,current_project.id])%>
	     	<%@del.each do |d|%>
	     	<%@u=User.find(:all,:conditions=>["id=?",d.user_id])%>
	     	<%@u.each do |u|%>
	       <li><a href="#"><%=u.name%></a></li>
	       <%end%>
	       <%end%>
	     </ul>
	    </li>
	   <%end%>
	 </ul>
	 </div>
	 <%else%>
	 <p id="empty_entity">No roles assigned to users in the project <%=link_to current_project.name,current_project%></p><br/>
	 <p class="add_link"><%= link_to "Add user to project",new_user_path(:project_user=>"true")%>&nbsp;&nbsp;<%=link_to image_tag("add.png", :alt=>"Add user"),new_user_path(:project_user=>"true")%></p>
	<%end%>
	<%else%>
	 	 <p id="empty_entity">Currently not viewing any project </p>
	 	 <p class="add_link"><%= link_to "Add new project",new_project_path%>&nbsp;&nbsp;<%=link_to image_tag("add.png", :alt=>"Add project"),new_project_path%></p>
  <%end%>
	 <p class="add_link"><%= link_to "Add user to project",new_user_path(:project_user=>"true")%>&nbsp;&nbsp;<%=link_to image_tag("add.png", :alt=>"Add user"),new_user_path(:project_user=>"true")%></p>
