<%content_for :side do%>
<%= render 'users_sidemenu'%>
<%end%>
<%content_for :main do%>
<p>
  <b>Name:</b>
  <%= best_in_place @user, :name %>
</p>
<p>
  <b>Email:</b>
  <%= best_in_place @user, :email %>
</p>

<div class="field">
	<%@user.delegations.each do |d|%>
	Role:<%= d.role%>
	Responsibility:<%= d.responsibility%>
	<%end%>
</div>
</div>
<%end%> 