<%content_for :side do%>
	<%= render 'events_sidemenu'%>
<%end%>
<%content_for :main do%>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>
<p>
  <b>Start at:</b>
  <%= @event.start_at %>
</p>

<p>
  <b>End date:</b>
  <%= @event.end_at %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |

<%= link_to 'Back', events_path %>
</div>
<%end%>
