<div class="grid_4 layout">
	<%= render 'events_sidemenu'%>
</div>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>
<p>
  <b>Start at:</b>
  <%= @event.start_at %>
</p>

<p>
  <b>End date:</b>
  <%= @event.end_at %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |

<%= link_to 'Back', events_path %>
</div>
