<div style="background-color:white;border:1px solid lightgray;padding:5px 5px;">
<p class="fields">
	<%=f.label :role%>
	<%= f.text_field :role%>
	<%= f.label :responsibility%>
	<%= f.text_area :responsibility,:style=>"height:50px;"%> <!--Should remove this from here-->
	<%= f.hidden_field :_destroy%>
	<%= link_to_remove_fields "Remove delegation", f %>
</p>
</div>