<%content_for :side do%>
<%= render 'projects_sidemenu'%>
<%end%>

<%content_for :overview_alerts do%>
<!--TO-DO Add custom_box class to all the divs -->
<div class ="grid_12 layout box_1 " id="right_display">
	<br/>
	<h2 class="custom_text">Projects<!-- <%= @open_project%>&nbsp;<%=current_user.name%>--></h2>

	<%= form_tag projects_path, :method => 'get', :id => "projects_search" do %>
	<%= hidden_field_tag :direction, params[:direction]%>
	<%= hidden_field_tag :sort, params[:sort]%>
	<% end %>

	<%= render 'projects'%>

	<%= link_to 'New Project', new_project_path %>
</div>
<%end%>

<%content_for :overview_tasks do%>
<div class ="grid_12 layout box_1 " id="right_display">
	<%if current_project.nil?%>
		<%=empty_display("projects")%>
	<%elsif current_project_tasks.empty?%>
		<%=empty_display("tasks")%>
	<%else%>
		<%=render 'tasks/tasks'%>
	<%end%>
</div>
<%end%>

<%content_for :overview_timeline do%>
<div class ="grid_12 layout box_1 " id="right_display">
		<%if current_project.nil?%>
		<%=empty_display("projects")%>
	<%elsif current_project.phases.empty?%>
		<%=empty_display("phases")%>
	<%else%>
		<%=render "phases/timeline"%>
	<%end%>
</div>
<%end%> 