<%content_for :side do%>
<%= render 'projects_sidemenu'%>
<%end%>
<%content_for :main do%>
<p id="notice">
	<%= notice %>
</p>
<p>
	<b>Name:</b>
	<%= @project.name %>
</p>
<p>
	<b>Time:</b>
	<%= @project.time %>
</p>
<p>
	<b>Money:</b>
	<%= @project.money %>
</p>
<p>
	<b>Funding agency:</b>
	<%= @project.funding_agency %>
</p>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
</div>
<%end%> 