<%content_for :side do%>
<%= render 'projects_sidemenu'%>
<%end%>
<%content_for :main do%>
<div class="outer_div">
	<div class="bigger_inner_div clearfix">
		<p id="notice">
			<%= notice %>
		</p>
		<div>
			<%= button_to "Withdraw from project", { :action => "withdraw", :id => current_user.id },
          :confirm => "Are you sure?", :class=>"custom_better_button righty",:method => :delete %>
		</div>
		<p>
			<b><%= image_tag("folder.png",:alt=>"Project")%>&nbsp;Name:</b>
			<%= best_in_place @project,:name %>
		</p>
		<%= form_for @project,:method=>"post",:validate=>true,:'data-remote'=>true,:multipart=>true do |f| %>
		<p>
			<b><%= image_tag("folder.png",:alt=>"Project")%>&nbsp;Description:</b>
			<%= f.text_area :description%>
		</p>
		<%= submit_tag 'Save',:class=>"custom_button round righty submittable "%>
		<%end%>
		<p>
			<b><%= image_tag("time.png",:alt=>"Project")%>&nbsp;Start date:</b>
			<%= best_in_place @project,:start_at%>
		</p>
		<p>
			<b><%= image_tag("time.png",:alt=>"Project")%>&nbsp;End date:</b>
			<%= best_in_place @project,:end_at%>
		</p>
		<p>
			<b><%= image_tag("money.png",:alt=>"Project")%>&nbsp;Money:</b>
			<%= best_in_place @project,:money %>
		</p>
		<p>
			<b><%= image_tag("house.png",:alt=>"Project")%>&nbsp;Funding agency:</b>
			<%= best_in_place @project,:funding_agency %>
		</p>
		<!--<%= link_to 'Edit', edit_project_path(@project),:class=>"custom_button round righty" %> |-->
		<%= link_to 'Back', projects_path,:class=>"custom_button round righty" %>
	</div>
</div>

<%end%> 