<h1>Listing resources</h1>

<ul id="resources">
  <% @resources.each do |resource| %>
    <li><%= resource.content %></li>

<%if !resource.file_file_name.nil?%>
	<% puts "#{root_url+resource.file.url[1..-1]}" %>
	<%url = URI.parse(root_url+resource.file.url[1..-1])%>
	<%open(url) do |http|%>
	  <%response = http.read%>
	  <%="#{response.inspect}"%>
	<%end %>
	<%end%>
  <%end%>
</ul>
<%=render 'resources'%>

<!--<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @resources.each do |resource| %>
  <tr>
    <td><%= resource.name %></td>
    <td><%= link_to 'Show', resource %></td>
    <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
    <td><%= link_to 'Destroy', resource, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Resource', new_resource_path %>-->
