<p id="notice">
	<%= notice %>
</p>
<p>
	<b>Name:</b>
	<%= @phase.name %>
</p>
<p>
	<b>Content:</b>
	<%= @phase.content %>
</p>
<%= link_to 'Edit', edit_phase_path(@phase) %> |
<%= link_to 'Back', phases_path %> 
