
<%=logo%>
<ul class="navlist">
	<li class="title" id="users">
		<%= link_to "Users", users_path%>
	</li>
	<li class="title" id="phases">
		<%= link_to "Phases", phases_path%>
	</li>
	<li class="title" id="meta">
		<%= link_to "Metamodel", new_metum_path%>
	</li>
	<li class="title" id="tasks">
		<%= link_to "Tasks", tasks_path%>
	</li>
	<li class="title" id="policies">
			<%= link_to "Policies", default_policies_path%>		
	</li>
	<li class="title" id="events">
			<%= link_to "Events", events_path%>
	</li>
	<%if !current_project.nil?%>
	<li class="title" id="resources">
			<%= link_to "Resources", project_resources_path(current_project.id)%>
	</li>
	<%end%>
	
</ul>
<!--<div id="main_nav">
	<ul>
		<li id="overview">
			<%= link_to "Overview", projects_path%>
		</li>
		<li id="phases">
			<%= link_to "Phases", phases_path%>
		</li>
		<li id="people">
			<%= link_to "Users", users_path%>
		</li>
		<li id="meetings">
			<%= link_to "Events", events_path%>
		</li>
		<li id="tasks">
			<%= link_to "Tasks", tasks_path%>
		</li>
		<li id="policies">
			<%= link_to "Policies", policies_path%>
		</li>
		<li id="help">
			<%= link_to "Home", root_path%>
		</li>
	</ul>
</div>-->