<div id="main_nav">
			<ul>
				<li id="overview"><%= link_to "Overview", projects_path%></li>
				<li id="phases"><%= link_to "Home", root_path%></li>
				<li id="people"><%= link_to "Users", users_path%></li>
				<li id="meetings"><%= link_to "Events", events_path%></li>
				<li id="tasks"><%= link_to "Tasks", tasks_path%></li>
				<li id="policies"><%= link_to "Policies", policies_path%></li>
				<li id="help"><%= link_to "Home", root_path%></li>
			</ul>
</div>