<%content_for :side do%>
<%= render 'policies_sidemenu'%>
<%end%>
<%content_for :main do%>
<%if current_project.nil?%>
		<%=empty_display("projects")%>
<%elsif current_project_policies.nil?%>
		<%=empty_display("policies")%>
<%else%>
	<h1>Listing policies</h1>
	<table>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<% @policies.each do |policy| %>
		<tr>
			<td><%= policy.name %></td>
			<td><%= policy.description %></td>
			<td><%= link_to 'Show', policy %></td>
			<td><%= link_to 'Edit', edit_policy_path(policy) %></td>
			<td><%= link_to 'Destroy', policy, confirm: 'Are you sure?', method: :delete %></td>
		</tr>
		<% end %>
	</table>
	<br />
	<%= link_to 'New Policy', new_policy_path %>
	</div>
	<%end%>
<%end%> 