<%content_for :side do%>
<%= render 'policies_sidemenu'%>
<%end%>
<%content_for :main do%>
<div class="demo">
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Tab 1 </a></li>
		<li><a href="#tabs-2">Tab 2</a></li>
		<li><a href="#tabs-3">Tab 3</a></li>
	</ul>
	<div id="tabs-1">
		<p></p>
	</div>
	<div id="tabs-2">
		<p></p>
	</div>
	<div id="tabs-3">
		<p></p>
		<p></p>
	</div>
</div>

</div><!-- End demo -->



	<%if current_project.nil?%>
		<%=empty_display("projects")%>
	<%elsif current_project_policies.nil?%>
		<%=empty_display("policies")%>
	<%else%>
	<h1>Listing policies</h1>
	<table>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<% @policies.each do |policy| %>
		<tr>
			<td><%= policy.name %></td>
			<td><%= policy.description %></td>
			<td><%= link_to 'Show', policy %></td>
			<td><%= link_to 'Edit', edit_policy_path(policy) %></td>
			<td><%= link_to 'Destroy', policy, confirm: 'Are you sure?', method: :delete %></td>
		</tr>
		<% end %>
	</table>
	<br />
	<%= link_to 'New Policy', new_policy_path %>
	</div>
	<%@policy=Policy.first%>
  <%= form_for @policy, :remote => true do |f| %>
  <%= f.check_box 'checked', :class => 'submittable',:id=>"check_box" %> 
  <%= f.label :checked,:id=>"add_div" %>
  <div id="appender">Bla</div>
  <%= @policy.name %>
  <% end %>
<%end%>
<%end%> 