<%content_for :side do%>
<%= render 'policies_sidemenu'%>
<%end%>
<%content_for :main do%>
<p id="notice">
	<%= notice %>
</p>
<p>
	<b>Name:</b>
	<%= @policy.name %>
</p>
<p>
	<b>Description:</b>
	<%= @policy.description %>
</p>
<%= link_to 'Edit', edit_policy_path(@policy) %> |
<%= link_to 'Back', policies_path %>
</div>
<%end%> 